<div class="address-book">
    <h1>
        Address Book - <span>{{user}}</span>
    </h1>

    <div *ngIf="default">
        <h3>Default</h3>
        <div class="address-book__section">
            <div class="address-book__tile light">
                <div class="address-book__name">
                    {{default.name}}
                </div>
                <div class="address-book__address">
                    {{default.address}}
                </div>
            </div>
        </div>
    </div>

    <div class="address-book__loading" *ngIf="!default">
        <h3>Default</h3>
        <div class="address-book__tile empty">
            You have no address
        </div>
    </div>

    <div *ngIf="all && all.length > 0">
        <h3>All</h3>
        <div class="address-book__section">
            <div class="address-book__tile" *ngFor="let item of all" [class.selected]="item === selected">
                <div class="address-book__name">
                    {{item.name}}
                </div>
                <div class="address-book__address">
                    {{item.address}}
                </div>
                <div class="address-book__action">
                    <button type="button" name="remove" class="button-action" (click)="onRemove(item)">
                        Remove
                    </button>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <button type="button" name="edit" class="button-action" (click)="onEdit(item)">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="address-book__loading" *ngIf="!all || all.length == 0">
        <h3>All</h3>
        <div class="address-book__tile empty">
            You have no address
        </div>
    </div>
</div>

<app-address-detail [address]="selected" (addressSaved)="onUpdate()"></app-address-detail>